.app {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal-width columns */
  grid-template-rows: repeat(12, 1fr); /* 4 equal-height rows */
  height: 100vh;
  margin: 0;
  /* text-align: center; */

}
header,nav,main,footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
header {
  background-color: rgb(169, 255, 255);
  grid-column: 1 / 13; /* Span across all 12 columns */
  grid-row: 1 / 2;    /* Occupy the first row */
}

nav {
  background-color: rgb(169, 255, 181);
  grid-column: 1 / 3; /* Span across all 12 columns */
  grid-row: 2 / 12;    /* Occupy the second row */

}

main {
  background-color: rgb(255, 169, 169);
  grid-column: 3 / 13; /* Span across all 12 columns */
  grid-row: 2 / 12;    /* Occupy the third row */

}

footer {
  background-color: rgb(169, 209, 255);
  grid-column: 1 / 13; /* Span across all 12 columns */
  grid-row: 12 / 13;    /* Occupy the fourth row */

}